:root {
	--pm-color: #fbfcfc;
	--sc-color: #ebeff0;
	--red-color: #fa4b4f;
	--green-color: #4af77d;
	--input-outline: #79838b;
	--txt-color: #000000;
	--header-line: #000000;
}

[data-theme="dark"] {
	--pm-color: #121212;
	--sc-color: #1e1e1e;
	--red-color: #ff5c5f;
	--green-color: #5cf78d;
	--input-outline: #444444;
	--txt-color: #fbfcfc;
	--header-line: #333333;
}

body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color:var(--pm-color);
	transition: all 0.5s ease-in-out;
	font-family: 'Poppins', sans-serif;
}
.headerDiv{
	display: flex;
	align-items: center;
	color: var(--txt-color);
	justify-content: space-between;
	position: sticky;
	width: 90dvw;
	left: 2dvw;
	height: 15dvh;
}
.headerButton{
	all: unset;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: var(--sc-color);
	border-radius: 100%;
	height: 33px;
	aspect-ratio: 1;
	color: var(--txt-color);
}
.headerButton:active{
	transform: scale(0.8);
}
.flashCardsDiv{
	width: 95dvw;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 80dvh;
}
.flashCard{
	width: 90dvw;
	min-height: 2dvh;
	max-height: 7dvh;
	padding: 8px 10px;
	border-radius: 14px;
	background-color: var(--sc-color);
	color: var(--txt-color);
	transition: all 1s ease-in-out;
}
.flashCard--reply{
	//estilizacao da resposta
}
.flashCard--question{
	//estilizacao da pergunta
}
.creationButton{
	all: unset;
	display:flex;
	position: fixed;
	justify-content: center;
	align-items: center;
	background-color: var(--sc-color);
	border-radius: 100%;
	height: 40px;
	aspect-ratio: 1;
	left: 50%;
	transform: translateX(-50%) scale(1);
	bottom: 2%;
	transition: all 1s ease-in-out;
	color: var(--txt-color);
}
.creationButton--hidden{
	opacity: 0;
}
.creationButton:active{
	transform: translateX(-50%) scale(0.9);
}
.editMenu{
	display: flex;
	flex-direction: column;
	position: fixed;
	align-items: center;
	justify-content: center;
	gap: 3dvh;
	z-index: 2;
	border-radius: 14px;
	width: 80dvw;
	min-height: 21dvh;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--sc-color);
	bottom: 5%;
}

.inputWrapper {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editInput {
  width: 100%;
  border: 1px solid var(--input-outline);
  background-color: var(--pm-color);
  color: var(--txt-color);
  padding: 13px 0;
  text-indent: 8px;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
}

.inputLabel {
  position: absolute;
  top: 50%;
  left: 8px;
  color: var(--txt-color);
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.2s ease;
}

.inputWrapper.active .inputLabel {
  top: 0;
  transform: translateY(-100%);
  font-size: 12px;
}